<!DOCTYPE html>
<style>
    .container {
         text-align: center;
     }
     .sparkle {
         color: rgb(110, 157, 228);
         animation: sparkle 1s steps(5, end);
     }

     @keyframes sparkle {
         0%, 20%, 50%, 80%, 100% { color: rgb(255, 255, 255); }
         40% { color: rgb(255, 0, 119); }
         60% { color: red; }
     }
     body {
         background-color: black;
         color: white;
         font-family: Arial, sans-serif;
         margin: 0;
         padding: 0;
         box-sizing: border-box;
     }
     .navbar__link:hover {
         text-decoration: underline;
         color:aqua
     }

     .container {
         width: 80%;
         margin: 0 auto;
     }

     @keyframes example {
         0%   {opacity: 0;}
         100% {opacity: 1;}
     }

     .animated {
         animation-name: example;
         animation-duration: 4s;
     }
     
     .home__image {
         display: flex;
         justify-content: center;
         margin: 20px;
     }
     .home__image img {
 
 width: 30%; 
 height: auto; 
 margin-top: 10px; 
 margin-bottom: 10px;
 margin-left: 10px; 
 margin-right: 10px; 
}
.home__image .dialogo {
 display: none;
 position: top;
 bottom: 5px;
 left: 5px;
 background: rgb(238, 138, 216);
 color: rgb(1, 6, 10);
 padding: 5px;
 border-radius: 5px;
 animation: fadeIn 1s;
 font-family: Arial;
 font-size: 25px; 
 animation: mover 10s infinite;
 width: 10%;
 height: 10%;
 font-style: italic;
 
}
.home__image .dialogo2 {
 display: none;
 top: 70%;
 left: 5px;
 background: rgb(238, 138, 216);
 color: rgb(1, 6, 10);
 padding: 5px;
 border-radius: 5px;
 animation: fadeIn 1s;
 font-family: Arial;
 font-size: 25px; 
 animation: mover 10s infinite;
 width: 10%;
 height: 10%;
 font-style: italic;
 clear:left
 
}

.home__image:hover .dialogo2 {
 display: block; float: unset;
}
.home__image:hover .dialogo {
 display: block; float: unset;
}

@keyframes fadeIn {
 0% {opacity: 0;}
 100% {opacity: 1;}
}
#miFormulario {
 background-color: #0b7af8;
 padding: 20px;
 border-radius: 15px;
 width: 300px;
 margin: 0 auto;
 
}

#miFormulario label {
 font-weight: bold;
 display: block;
 margin-bottom: 5px;
 
}

#miFormulario input[type="text"],
#miFormulario textarea {
 width: 90%;
 padding: 10px;
 margin-bottom: 10px;
 border: 1px solid #ddd;
 border-radius: 5px;
}

#miFormulario input[type="submit"] {
 background-color: #4CAF50;
 color: white;
 padding: 10px 20px;
 border: none;
 border-radius: 5px;
 cursor: pointer;
}

#miFormulario input[type="submit"]:hover {
 background-color: #45a049;
}

     
 </style>
